@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

nav {
  height: 70px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.hero {
  width: 100%;
  padding: 0 auto;
}

.hero .photo-grid {
  padding-top: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .photo-grid img {
  height: 232px;
}

.content {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-left: 36px;
}

.content h1 {
  width: 360px;
  font-weight: 600;
  font-size: 36px;
}

.content h5 {
  width: 320px;
  color: #222222;
  font-weight: 300;
  font-size: 16px;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 18px;
  width: 175px;
}

.card-details {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.detail-head {
  display: flex;
  align-items: center;
  gap: 2px;
}

.card-image {
  position: relative;
  margin-bottom: 7px;
}

.card-image img {
  height: 235px;
  border-radius: 9px;
}

.card-image p {
  position: absolute;
  top: 6px;
  left: 6px;
  font-size: 10.24px;
  color: #222222;
  padding: 5px 6px;
  background-color: white;
  border-radius: 2px;
}

.detail-head img {
  height: 14px;
}

.detail-head h5 {
  font-weight: 300;
  font-size: 12px;
}

.detail-head p {
  font-size: 12px;
  color: #918E9B;
  font-weight: 300;
}

.card-details p {
  color: #222222;
  font-size: 12px;
  font-weight: 300;
}

.card-details span {
  font-weight: 600;
}